.slider {
  &__top-row {
    display: flex;
    justify-content: space-between;
  }

  &__bottom-row {
    display: flex;
  }

  input {
    width: 100%;
    margin: 0 1rem 0 1rem;
  }

  p {
    opacity: 0.5;
    margin: 0;
  }

  datalist {
    display: flex;
    position: relative;

    option {
      position: absolute;
    }
  }
}